/* BASE */
div, input, select, textarea, i, span, h1, h2, h3, h4, h5, h6, button, a {
  font-family: "Lato", sans-serif;
}

body {
  background: #F0F0F0;
}

article {
  margin: 30px 30px 30px 400px;
}

/* Header */
header {
  position: fixed;
  left: 30px;
  top: 30px;
  height: calc(100vh - 60px);
  width: 340px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 30px;
}
header .copy {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #afafaf;
  font-size: 12px;
}

.brand {
  padding: 20px 10px 30px;
  font-size: 40px;
  width: 100%;
  z-index: 20;
  position: relative;
  display: block;
  font-family: "Eiforya", sans-serif;
  text-align: center;
  color: #3ba3d1;
}

#user {
  border: 1px solid #e1e1e1;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 30px;
}
#user .pic {
  width: 45px;
  height: 45px;
  flex: 0 0 45px;
  border-radius: 5px;
  margin-right: 10px;
  background-size: cover;
  transition: 0.6s;
}
#user .name {
  flex: 0 0 calc(100% - 55px);
  transition: 0.6s;
}
#user .more {
  overflow: hidden;
  height: 0;
  transition: 0.6s;
}
#user .more .btn, #user .more button {
  margin: 0;
}

#user:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

#menu > ul {
  background: none;
  transition: 0.6s;
}
#menu > ul > li {
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 5px;
  transition: 0.6s;
}
#menu > ul > li > a {
  font-size: 18px;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #878787;
  background-size: 30px;
  transition: 0.6s;
}
#menu > ul > li > ul {
  height: 0;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}
#menu > ul > li > ul > li > a {
  padding: 8px 20px;
}
#menu > ul:not(.on) > li:hover {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}
#menu > ul:not(.on) > li:hover > ul {
  background: #F0F0F0;
  width: calc(100% - 20px);
  position: absolute;
  height: auto;
  padding: 5px 0 10px;
  box-sizing: border-box;
  left: 10px;
  z-index: 99;
  border: 1px solid #fff;
  margin-top: -1px;
}
#menu > ul.on {
  border-radius: 10px;
}
#menu > ul.on > li > a {
  border-radius: 10px;
  background-color: #3ba3d1;
  color: #fff;
}
#menu > ul.on > li > ul {
  height: auto;
  padding-bottom: 10px;
  width: calc(100% - 20px);
  margin-left: 10px;
  background-color: #F0F0F0;
}
#menu li {
  list-style: none;
}
#menu a {
  display: block;
  font-weight: lighter;
  background-position: 10px center;
  background-repeat: no-repeat;
}

/* Sub Header */
.shed {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
  height: 80px;
}
.shed .title {
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}
.shed .r {
  position: absolute;
  right: 15px;
}
.shed button {
  margin: 0;
  height: 50px;
  border-radius: 5px;
}

/*# sourceMappingURL=ui.css.map */
